html {
    box-sizing: absolute;
    background-color: #E5E5E5;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}


h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 7rem;
    position: relative;
    padding: 150px;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;

    letter-spacing: 0.02em;

}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: normal;
}

/*About Section*/

.quick-about-container {
    display:inline-flex;
    opacity:1;
}

.quick-about-text {
    padding: 100px;
}

.character-profile {
    width:384px;
    height:402px;
}

/*Extended About Section*/

.about {
    margin-left: 4rem;
    padding: 150px 50px 150px 50px;
    width: 60%
}

.about-first {
    font-size: 1.25rem;
    line-height: 50px;
    letter-spacing: 0.02em;
}

.about-second {
    font-size: 1.25rem;
    line-height: 50px;
    letter-spacing: 0.02em;
}

/*Technology and Framework Capabilites Section*/

.known-technologies-frameworks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem 4rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
}

.icon-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px 40px 0 40px;
}

.fab, .fas {
    font-size: 4rem;
    padding: 0 40px 40px 0;
}

/*Project Section*/
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 4rem;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(25px);
    border-radius: 50px;
}

.project-section-description {
    padding: 4rem 4rem;
    font-size: 1.25rem;
    align-self:center;
    justify-self: center;
}

.project-image {
    height:350px;
    width: 350px;
}
.project {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

/*Contact Section*/
.contact {
    margin:1rem 4rem;
    
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(25px);
    border-radius: 50px;
}

.wave {
    font-size: 6rem;
    padding-left:2rem;
    padding-right:1rem;

    animation-name: wave-animation;  
    animation-duration: 3s;        
    animation-iteration-count: 2;   
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

.reach-out {
    font-size: 1.25rem;
    padding-left:1rem;
    padding-right:2rem;
}

.email {
    text-decoration: none;
    color: #000;
}

/*Footer*/
.footer {
    display:flex;
    justify-content: flex-start;
    align-content: flex-end;
    margin: 4rem;
    padding-top: 6rem;
}

.copyright {
    
    font-size:1rem;
}
/*Media Queries*/
@media only screen and (max-width:540px){
    h1 {
        font-size: 3rem;
        padding: 40px;
    }

    h2 {
        font-size: 1rem;
        line-height: 25px;

        letter-spacing: 0.02em;
    }
    
    .quick-about-text {
        padding: 0px 25px;
    }

    .character-profile {
        width:192px;
        height:200px;
    }

    .about {
        margin-left: 2rem;
        padding: 50px 5px 50px 5px;
        width: 90%
    }
    
    .about-first {
        font-size: 1rem;
        line-height: 25px;
        letter-spacing: 0.02em;
    }
    
    .about-second {
        font-size: 1rem;
        line-height: 25px;
       
        letter-spacing: 0.02em;
    }

    .icon-container {
        padding: 15px 15px 15px 15px;
    }

    .fab, .fas {
        font-size: 1.5rem;
        padding: 15px 15px 15px 15px;
    }

    .known-technologies-frameworks {
        margin:1rem;
        background:none;
        border-radius: none;
    }

    .projects {
        margin:1rem;
    }

    .project-section-description {
        padding: 1.5rem;
        font-size: 1rem;
    }
    
    .project-image {
        height: 100%;
        width: 100%;
    }
    .project {
        margin: 30px;
    }
    .contact {
        margin:1rem;
        
    }
     
    .wave {
        font-size: 3rem;
    }

    .reach-out {
        font-size: 1rem;
    }

    .footer {
        justify-content: center;
        align-content: flex-end;
        margin: 1rem;
        padding-top: 4rem;
    }

    .copyright {
        font-size:0.5rem;
    } 
}

@media  only screen and (max-width: 640px) {
    .about {
        margin: 2rem 1rem;
        padding: 50px 5px 50px 5px;
        width: 90%
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    h1 {
        font-size: 5rem;
        padding: 100px;
    }

    .quick-about-text {
        padding: 50px;
    }

    .fab, .fas {
        font-size: 3rem;
    }
}

/*Animation*/

/*Section Element Fade In*/
.hide {
    opacity: 0;
    -webkit-transition-delay: 3s;
    -o-transition-delay: 3s;
    transition-delay: .3s;
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}
.inView {
     opacity: 1;
}

/*Landing Page Fade In*/
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    /*Wave Animation*/
    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
       10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
       20% { transform: rotate(-8.0deg) }
       30% { transform: rotate(14.0deg) }
       40% { transform: rotate(-4.0deg) }
       50% { transform: rotate(10.0deg) }
       60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
      100% { transform: rotate( 0.0deg) }
    }
    